{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <h1 class="title">Control de Inventario</h1>
                {% include 'messages.html' %}
                <h1 class="title">Ingredientes críticos cercanos</h1>
                <div class="columns">
                    <div class="column">
                        <table class="table is-striped is-hoverable">
                            <thead>
                              <tr>
                                <th>Nombre</th>
                                <th>Stock</th>
                                <th>Alerta de stock</th>
                                <th>Fecha modificación</th>
                                <th>Editar</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for ingrediente in ingredientes_cerca_alerta  %}
                                  <tr>
                                    <td>{{ ingrediente.nombre }}</td>
                                    <td>{{ ingrediente.cantidad }} {{ ingrediente.unidadmedida.nombre }}</td>
                                    <td>{{ ingrediente.alerta_stock }} {{ ingrediente.unidadmedida.nombre }}</td>
                                    <td>{{ arrow.get(ingrediente.ultima_modificacion).to('America/Santiago').format('DD-MM-YYYY HH:mm') if ingrediente.ultima_modificacion != ingrediente.fecha_creacion else 'Nunca modificado' }}</td>
                                    <td>
                                      <a href="{{ url_for('ingrediente.editar', id=ingrediente.id) }}" class="button is-warning is-small">
                                        <span class="icon is-small"><i class="fa fa-pencil-alt" aria-hidden="true"></i></i></span>
                                      </a>
                                    </td>
                                  </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                    </div>
                    <div class="column">
                        <h2 class="subtitle">Resumen del Inventario</h2>
                        <div class="card">
                            <div class="card-content">
                                <div class="content">
                                    <p><strong>Total de Ingredientes:</strong> {{ total_ingredientes }}</p>
                                    <p><strong>Ingredientes Críticos:</strong> {{ alerta_stock }}</p>
                                    {% if ingredientes_criticos %}
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Stock</th>
                                                <th>Última modificación</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for ingrediente in ingredientes_criticos %}
                                            <tr>
                                                <td>{{ ingrediente.nombre }}</td>
                                                <td>El stock es de {{ ingrediente.cantidad }} {{ ingrediente.unidadmedida.nombre }}, lo cual es inferior al valor de alerta de stock establecido en {{ ingrediente.alerta_stock }} {{ ingrediente.unidadmedida.nombre }}</td>
                                                <td>{{ ingrediente.ultima_modificacion }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                {% else %}
                                    <p>No hay ingredientes críticos.</p>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                        <h2 class="subtitle">Indicadores de Inventario</h2>
                        <div class="columns">
                            <div class="column">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="content">
                                            <p><strong>Top 5 Ingredientes más Utilizados:</strong></p>
                                            <ol>
                                                <li>Tomates</li>
                                                <li>Lechuga</li>
                                                <li>Cebollas</li>
                                                <li>Pimientos</li>
                                                <li>Queso</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="content">
                                            <p><strong>Top 5 productos más vendidos:</strong></p>
                                            <ol>
                                                <li>Lorem</li>
                                                <li>Ipsum</li>
                                                <li>Napolitana</li>
                                                <li>Peperonni</li>
                                                <li>Vegetariana</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
