{% extends "base.html" %}

{% block title %}Ventas{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                {% for mes_ventas in meses_ventas[:6] %}
                    <div class="columns">
                        <div class="column">
                            <h1 class="title">Ventas de {{ mes_ventas.nombre }}</h1>
                            <canvas id="chart-{{ mes_ventas.mes }}" width="400" height="200"></canvas>
                        </div>
                        <div class="column">
                            {% set mes_ventas_index = loop.index + 6 %}
                            {% if mes_ventas_index <= meses_ventas|length %}
                                {% set mes_ventas_right = meses_ventas[mes_ventas_index - 1] %}
                                <h1 class="title">Ventas de {{ mes_ventas_right.nombre }}</h1>
                                <canvas id="chart-{{ mes_ventas_right.mes }}" width="400" height="200"></canvas>
                            {% endif %}
                            <br><br><br><br>
                            <div class="card">
                                <div class="card-content">
                                    <div class="content">
                                        <p><strong>Venta total mensual:</strong> ${{ mes_ventas.ventas_por_dia.values()|sum }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                        var ventas_por_dia{{ mes_ventas.mes }} = {{ mes_ventas.ventas_por_dia | tojson }};
                        var ctx{{ mes_ventas.mes }} = document.getElementById("chart-{{ mes_ventas.mes }}").getContext("2d");
                        var myChart{{ mes_ventas.mes }} = new Chart(ctx{{ mes_ventas.mes }}, {
                            type: "bar",
                            data: {
                                labels: Object.keys(ventas_por_dia{{ mes_ventas.mes }}).map(function(dia) { return parseInt(dia); }),
                                datasets: [{
                                    label: "Total",
                                    data: Object.values(ventas_por_dia{{ mes_ventas.mes }}),
                                    backgroundColor: "rgba(75, 192, 192, 0.2)",
                                    borderColor: "rgba(75, 192, 192, 1)",
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                responsive: true,
                                scales: {
                                    y: {
                                        beginAtZero: true,
                                        ticks: {
                                            callback: function(value, index, values) {
                                                return "$" + value;
                                            }
                                        }
                                    }
                                }
                            }
                        });
                    </script>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
