{% extends "base.html" %}

{% block title %}Restaurar unidades de medida{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title is-1">Restaurar unidades de medida</h1>
        <div class="notification is-warning">
            <p>¿Está seguro de que desea restaurar la unidades de medida "{{ unidadmedida.nombre }}"?</p>
            <form method="post" action="{{ url_for('unidadmedida.restaurar', id=unidadmedida.id) }}">
                <div class="field">
                    <div class="control">
                        <button class="button is-success" type="submit">Restaurar</button>
                        <a href="{{ url_for('unidadmedida.listar') }}" class="button">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
