{% extends "base.html" %}

{% block title %}Ingredientes{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="column">
          <div class="buttons is-pulled-right">
            <a href="{{ url_for('ingredientes') }}" class="button is-link is-light">Volver</a>
          </div>
        </div>
        {% if hay_activas %}
        <div class="columns">
          <div class="column">
            <h1 class="title">Lista de ingredientes en la papelera</h1>
          </div>
        </div>
        <table class="table is-bordered is-hoverable is-narrow">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Stock</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for ingrediente in ingredientes %}
            {% if not ingrediente.activo %}
            <tr>
              <td>{{ ingrediente.nombre }}</td>
              <td>{{ ingrediente.stock }}</td>
              <td>
                <a href="{{ url_for('ingrediente_editar', id=ingrediente.id) }}" class="button is-warning is-small">
                  <span class="icon is-small"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></i></span>
                </a>
                <a href="{{ url_for('ingrediente_eliminar', id=ingrediente.id) }}" class="button is-danger is-small">
                  <span class="icon is-small"><i class="fas fa-trash" aria-hidden="true"></i></span>
                </a>
              </td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
        <!-- End if hay_activas -->
        {% endif %}
        {% if not hay_activas %}
        <h1 class="title is-1">Lista de ingredientes en la papelera</h1>
        <div class="box">
          <div class="notification is-warning">
            <h2 class="subtitle is-2">No hay ingredientes</h2>
            <p>No hay ingredientes en la papelera.</p>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
