{% extends "base.html" %}

{% block title %}Usuarios{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="column">
                    <div class="buttons is-pulled-right">
                        <a href="{{ url_for('usuario.papelera') }}" class="button is-link is-light">Ir a papelera</a>
                        <a href="{{ url_for('usuario.nuevo') }}" class="button is-link">Agregar Usuario</a>
                    </div>
                    <h1 class="title">Lista de usuarios</h1>
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                        <div class="notification is-success">
                            <button class="delete"></button>
                            {{ message }}
                        </div>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <table class="table is-striped is-hoverable">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre de usuario</th>
                                <th>Correo</th>
                                <th>Rol</th>
                                <th>Fecha de creación</th>
                                <th>Última modificación</th>
                                <th>Activo</th>
                                <th>Editar/Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for usuario in usuarios %}
                            {% if usuario.activo %}
                            <tr>
                                <td>{{ usuario.id }}</td>
                                <td>{{ usuario.nombre_usuario }}</td>
                                <td>{{ usuario.correo }}</td>
                                <td>{{ usuario.rol.nombre }}</td>
                                <td>{{ arrow.get(usuario.fecha_creacion).to('America/Santiago').format('DD-MM-YYYY HH:mm') if usuario.fecha_creacion else None }}</td>
                                <td>{{ arrow.get(usuario.ultima_modificacion).to('America/Santiago').format('DD-MM-YYYY HH:mm') if usuario.ultima_modificacion != usuario.fecha_creacion else 'Nunca modificado' }}</td>
                                <td>{{ 'Sí' if usuario.activo else 'No' }}</td>
                                <td>
                                    <a href="{{ url_for('usuario.editar', id=usuario.id) }}" class="button is-info is-light">
                                      <span class="icon is-small"><i class="fa fa-pencil-alt" aria-hidden="true"></i></i></span>
                                    </a>
                                    <a href="{{ url_for('usuario.eliminar', id=usuario.id) }}" class="button is-danger is-light">
                                      <span class="icon is-small"><i class="fas fa-trash" aria-hidden="true"></i></span>
                                    </a>
                                  </td>
                            </tr>
                        {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
