{% extends "base.html" %}

{% block title %}Pedidos{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="column">
          <div class="buttons is-pulled-right">
            <a href="{{ url_for('pedido.anulados') }}" class="button is-link is-light">Ir a pedidos anulados</a>
            <a href="{{ url_for('pedido.finalizados') }}" class="button is-link is-light">Ir a pedidos finalizados</a>
            <a href="{{ url_for('pedido.listar') }}" class="button is-link is-light">Ir a pedidos en proceso</a>
            <a href="{{ url_for('pedido.nuevo') }}" class="button is-link">Ingresar pedido</a>
          </div>
        </div>
        {% if pedidos %}
        <div class="columns">
          <div class="column">
            <h1 class="title">Lista de pedidos finalizados</h1>
          </div>
        </div>
        {% include 'messages.html' %}
        <table class="table is-striped is-hoverable">
          <thead>
            <tr>
              <th>ID</th>
              <th>Vendedor</th>
              <th>Detalle</th>
              <th>Fecha</th>
              <th>Total</th>
              <th>Restaurar</th>
            </tr>
          </thead>
          <tbody>
            {% for pedido in pedidos %}
              <tr>
                <td>{{ pedido.id }}</td>
                <td>{{ pedido.persona.nombre }} {{ pedido.persona.apellido_paterno }} {{ pedido.persona.apellido_materno}}</td>
                <td>
                  {% if pedido.detalles %}
                      <table class="table is-striped is-hoverable">
                          <tbody>
                              {% for detalle_pedido in pedido.detalles %}
                                  <tr>
                                      <td><img src="{{ url_for('static', filename='img/') }}{{ detalle_pedido.producto.imagen }}" alt=" " style="max-height: 30px;"></td>
                                      <td>{{ loop.index }}. {{ detalle_pedido.producto.nombre }} ({{ detalle_pedido.producto.categoria.nombre }})</td>
                                      <td>
                                          {% if detalle_pedido.producto.tiene_receta == False %}
                                              {{ detalle_pedido.cantidad }} unidad(es)<br>
                                          {% endif %}
                                          {% if detalle_pedido.producto.tiene_receta == True %}
                                              {% set detalle_ingredientes_producto = pedido_detalle_ingredientes | selectattr('pedido_detalle_id', 'equalto', detalle_pedido.id) %}
                                              {% if detalle_ingredientes_producto %}
                                                  <table class="table is-striped is-hoverable">
                                                      <tbody>
                                                          {% for detalle_ingredientes in detalle_ingredientes_producto %}
                                                              <tr>
                                                                  <td>{{ loop.index }}. {{ detalle_ingredientes.ingrediente.nombre }}</td>
                                                                  <td>{{ detalle_ingredientes.cantidad }} {{ detalle_ingredientes.ingrediente.unidadmedida.nombre }}</td>
                                                              </tr>
                                                          {% endfor %}
                                                      </tbody>
                                                  </table>
                                              {% endif %}
                                          {% endif %}
                                      </td>
                                  </tr>
                              {% endfor %}
                          </tbody>
                      </table>
                  {% else %}
                      <p>No se han añadido productos al pedido.</p>
                  {% endif %}
              </td>
                <td>{{ arrow.get(pedido.fecha_creacion).format('DD-MM-YYYY HH:mm') if pedido.fecha_creacion else None }}</td>
                <td>${{ pedido.total_pedido }}</td>
                <td>{{ pedido.pedido_estado.nombre }}</td>
                <td>
                  <a href="{{ url_for('pedido.restaurar_finalizado', id=pedido.id) }}" class="button is-link is-light">
                    <span class="icon is-small"><i class="fas fa-undo" aria-hidden="true"></i></span>
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        
        {% else %}
        <h1 class="title is-1">Lista de pedidos finalizados</h1>
        <div class="box">
          <div class="notification is-warning">
            <h2 class="subtitle is-2">No hay pedidos finalizados</h2>
            <p>No se han encontrado pedidos finalizados en la base de datos.</p>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}