{% extends "base.html" %}

{% block title %}Pedidos{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="column">
          <div class="buttons is-pulled-right">
            <a href="{{ url_for('pedido.anulados') }}" class="button is-link is-light">Ir a pedidos anulados</a>
            <a href="{{ url_for('pedido.finalizados') }}" class="button is-link is-light">Ir a pedidos finalizados</a>
            <a href="{{ url_for('pedido.listar') }}" class="button is-link is-light">Ir a pedidos en proceso</a>
            <a href="{{ url_for('pedido.nuevo') }}" class="button is-link">Ingresar pedido</a>
          </div>
        </div>
        {% if pedidos %}
        <div class="columns">
          <div class="column">
            <h1 class="title">Lista de pedidos en proceso</h1>
          </div>
        </div>
        {% include 'messages.html' %}
        <table class="table is-striped is-hoverable">
          <thead>
            <tr>
              <th>ID</th>
              <th>Vendedor</th>
              <th>Detalle del pedido</th>
              <th>Fecha</th>
              <th>Total</th>
              <th>Estado</th>
              <th>Editar/Finalizar/Anular</th>
            </tr>
          </thead>
          <tbody>
            {% for pedido in pedidos %}
              <tr>
                <td>{{ pedido.id }}</td>
                <td>{{ pedido.persona.nombre }} {{ pedido.persona.apellido_paterno }} {{ pedido.persona.apellido_materno}}</td>
                <td class="descripcion">
                {% if pedido.detalles %}
                  {% for pedido_detalle in pedido.detalles %}
                    <img src="{{ url_for('static', filename='img/') }}{{ pedido_detalle.producto.imagen }}" alt=" " style="max-height: 15px;">{{ loop.index }}. {{ pedido_detalle.producto.nombre }} ({{ pedido_detalle.cantidad }} unidades)<br>
                  {% endfor %}
                {% else %}
                  <p>No se han añadido productos al pedido.</p>
                {% endif %}
                </td>
                <td>{{ arrow.get(pedido.fecha_creacion).to('America/Santiago').format('DD-MM-YYYY HH:mm') if pedido.fecha_creacion else None }}</td>
                <td>${{ pedido.total_pedido }}</td>
                <td>{{ pedido.pedido_estado.nombre }}</td>
                <td>
                  <a href="{{ url_for('pedido.editar', id=pedido.id) }}" class="button is-info is-light">
                    <span class="icon is-small"><i class="fa fa-pencil-alt" aria-hidden="true"></i></i></span>
                  </a>
                  <a href="{{ url_for('pedido.finalizar', id=pedido.id) }}" class="button is-info is-success is-light">
                    <span class="icon is-small"><i class="fas fa-check" aria-hidden="true"></i></i></span>
                  </a>
                  <a href="{{ url_for('pedido.anular', id=pedido.id) }}" class="button is-danger is-light">
                    <span class="icon is-small"><i class="fas fa-times" aria-hidden="true"></i></span>
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        
        {% else %}
        <h1 class="title is-1">Lista de pedidos</h1>
        <div class="box">
          <div class="notification is-warning">
            <h2 class="subtitle is-2">No hay pedidos en proceso</h2>
            <p>No se han agregado pedidos a la base de datos, puedes ingresar uno dando click en el boton <b>"Ingresar pedido"</b>.</p>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}