{% extends 'base.html' %}

{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">Actualizar stock de {{ producto.nombre }}</h1>
    <form method="post" enctype="multipart/form-data">
      <div class="field">
        <label class="label">Stock</label>
        <div class="control">
          <input class="input" type="number" name="stock" value="{{ producto.stock }}" min="0">
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button type="submit" class="button is-link">Guardar</button>
        </div>
        <div class="control">
          <a href="{{ url_for('producto.listar') }}" class="button is-link is-light">Cancelar</a>
        </div>
      </div>
    </form>
  </div>
</section>
{% endblock %}