{% extends "base.html" %}

{% block title %}Productos{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="column">
          <div class="buttons is-pulled-right">
            <a href="{{ url_for('producto.papelera') }}" class="button is-link is-light">Ir a papelera</a>
            <a href="{{ url_for('producto.nuevo') }}" class="button is-link">Agregar Producto</a>
          </div>
        </div>
        {% if productos %}
        <div class="columns">
          <div class="column">
            <h1 class="title">Lista de Productos</h1>
          </div>
        </div>
        {% include 'messages.html' %}
        <table class="table is-striped is-hoverable">
          <thead>
            <tr>
              <th>Código</th>
              <th>Imagen</th>
              <th>Nombre</th>
              <th>Categoría</th>
              <th>Precio</th>
              <th>Descripción</th>
              <th>Stock/Receta</th>
              <th>Alerta de stock</th>
              <th>Editar</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            {% for producto in productos %}
              <tr>
                <td>{{ producto.codigo_barra }}</td>
                <td><img src="{{ url_for('static', filename='img/') }}{{ producto.imagen }}" alt="{{ producto.nombre }}" style="max-height: 50px;">
                </td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.categoria.nombre }}</td>
                <td>${{ producto.precio }}</td>
                <td class="descripcion">{{ producto.descripcion }}</td>
                <td>
                {% if not producto.tiene_receta %}
                  {% if producto.stock %}
                    {{ producto.stock }} unidades<br>
                    <a href="{{ url_for('producto.ingresar_stock', id=producto.id) }}">
                      Ingresar stock
                    </a>
                  {% else %}
                    Sin stock<br>
                    <a href="{{ url_for('producto.ingresar_stock', id=producto.id) }}">
                      Ingresar stock
                    </a>
                  {% endif %}
                {% else %}
                  <a href="{{ url_for('receta.configurar', id=producto.id) }}">
                    Configurar receta
                  </a>
                {% endif %}
                </td>
                <td>{{ producto.alerta_stock }}</td>
                <td>
                  <a href="{{ url_for('producto.editar', id=producto.id) }}" class="button is-info is-light">
                    <span class="icon is-small"><i class="fa fa-pencil-alt" aria-hidden="true"></i></i></span>
                  </a>
                </td>
                <td>
                  <a href="{{ url_for('producto.eliminar', id=producto.id) }}" class="button is-danger is-light">
                    <span class="icon is-small"><i class="fas fa-trash" aria-hidden="true"></i></span>
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <h1 class="title is-1">Lista de Productos</h1>
        <div class="box">
          <div class="notification is-warning">
            <h2 class="subtitle is-2">No hay Productos</h2>
            <p>No se han agregado Productos a la base de datos, puedes agregar uno dando click en el boton <b>"Agregar Producto"</b>.</p>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}