{% extends "base.html" %}

{% block title %}Productos{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="column">
          <div class="buttons is-pulled-right">
            <a href="{{ url_for('producto.listar') }}" class="button is-link is-light">Volver</a>
          </div>
        </div>
        {% if hay_activas %}
        <div class="columns">
          <div class="column">
            <h1 class="title">Lista de productos en la papelera</h1>
          </div>
        </div>
        <table class="table is-bordered is-hoverable is-narrow">
          <thead>
            <tr>
              <th>Código</th>
              <th>Imagen</th>
              <th>Nombre</th>
              <th>Categoría</th>
              <th>Precio</th>
              <th>Descripción</th>
              <th>Stock</th>
              <th>Restaurar</th>
            </tr>
          </thead>
          <tbody>
            {% for producto in productos %}
            {% if not producto.activo %}
              <tr>
                <td>{{ producto.codigo_barra }}</td>
                <td><img src="{{ url_for('static', filename='img/') }}{{ producto.imagen }}" alt="{{ producto.nombre }}" style="max-height: 50px;">
                </td>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.categoria.nombre }}</td>
                <td>${{ producto.precio }}</td>
                <td class="descripcion">{{ producto.descripcion }}</td>
                <td>{{ producto.stock }}</td>
                <td>
                  <a href="{{ url_for('producto.restaurar', id=producto.id) }}" class="button is-link is-light is-small">
                    <i class="fa fa-undo" aria-hidden="true"></i>
                  </a>
                </td>
              </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
        <!-- End if hay_activas -->
        {% endif %}
        {% if not hay_activas %}
        <h1 class="title is-1">Lista de productos en la papelera</h1>
        <div class="box">
          <div class="notification is-warning">
            <h1 class="subtitle is-2">No hay productos</h2>
            <p>No hay productos en la papelera.</p>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
