{% extends "base.html" %}

{% block title %}Mover usuario a la papelera{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title is-1">¿Desea mover el usuario a la papelera?</h1>
        <div class="notification is-warning">
            <p>¿Está seguro de que desea mover el usuario "{{ usuario.nombre }}" a la papelera?</p>
            <form method="post" action="{{ url_for('usuario_eliminar', id=usuario.id) }}">
                <div class="field">
                    <div class="control">
                        <button class="button is-link" type="submit">Mover</button>
                        <a href="{{ url_for('usuarios') }}" class="button is-link is-light">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
