{% extends "base.html" %}

{% block title %}Personas{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                <div class="column">
                    <div class="buttons is-pulled-right">
                        <!-- <a href="{{ url_for('persona.papelera') }}" class="button is-link is-light">Ir a papelera</a>
                        <a href="{{ url_for('persona.nueva') }}" class="button is-link">Agregar persona</a> -->
                    </div>
                    {% if personas %}
                    <h1 class="title">Lista de personas</h1>
                    {% include 'messages.html' %}
                    <table class="table is-striped is-hoverable">
                        <thead>
                            <tr>
                                <th>RUT</th>
                                <th>Usuario</th>
                                <th>Nombre</th>
                                <th>Apellidos</th>
                                <th>Celular</th>
                                <th>Fecha creación</th>
                                <th>Última modificación</th>
                                <th>Activo</th>
                                <th>Editar/Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for persona in personas %}
                            <tr>
                                <td>{{ persona.rut }}</td>
                                <td>{{ persona.usuario.nombre_usuario }}</td>
                                <td>{{ persona.nombre }}</td>
                                <td>{{ persona.apellido_paterno }} {{ persona.apellido_materno }}</td>
                                <td>{{ persona.celular }}</td>
                                <td>{{ arrow.get(persona.fecha_creacion).to('America/Santiago').format('DD-MM-YYYY HH:mm') if persona.fecha_creacion else None }}</td>
                                <td>{{ arrow.get(persona.ultima_modificacion).to('America/Santiago').format('DD-MM-YYYY HH:mm') if persona.ultima_modificacion != persona.fecha_creacion else 'Nunca modificado' }}</td>
                                <td>{{ 'Sí' if persona.activo else 'No' }}</td>
                                <td>
                                    <a href="{{ url_for('usuario.editar', id=persona.id) }}" class="button is-info is-light">
                                      <span class="icon is-small"><i class="fa fa-pencil-alt" aria-hidden="true"></i></i></span>
                                    </a>
                                    <a href="{{ url_for('usuario.eliminar', id=persona.id) }}" class="button is-danger is-light">
                                      <span class="icon is-small"><i class="fas fa-trash" aria-hidden="true"></i></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <h1 class="title is-1">Lista de personas</h1>
                <div class="box">
                <div class="notification is-warning">
                    <h1 class="subtitle is-2">No hay personas</h2>
                    <p>No hay personas registradas.</p>
                </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
