{% extends "base.html" %}

{% block title %}Roles en la papelera{% endblock %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="column">
          <div class="buttons is-pulled-right">
            <a href="{{ url_for('rol.listar') }}" class="button is-link is-light">Volver</a>
          </div>
        </div>
        {% if roles %}
        <div class="columns">
          <div class="column">
            <h1 class="title">Lista de roles en la papelera</h1>
          </div>
        </div>
        {% include 'messages.html' %}
        <table class="table is-striped is-hoverable">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Restaurar</th>
            </tr>
          </thead>
          <tbody>
            {% for rol in roles %}
            {% if not rol.activo %}
            <tr>
              <td>{{ rol.nombre }}</td>
              <td>
                <a href="{{ url_for('rol.restaurar', id=rol.id) }}" class="button is-link is-light is-small">
                  <i class="fa fa-undo" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <h1 class="title is-1">Lista de roles en la papelera</h1>
        <div class="box">
          <div class="notification is-warning">
            <h2 class="subtitle is-2">No hay roles</h2>
            <p>No hay roles en la papelera.</p>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
