{% extends "base.html" %}

{% block title %}Restaurar rol{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title is-1">Restaurar rol</h1>
        <div class="notification is-warning">
            <p>¿Está seguro de que desea restaurar la rol "{{ rol.nombre }}"?</p>
            <form method="post" action="{{ url_for('rol.restaurar', id=rol.id) }}">
                <div class="field">
                    <div class="control">
                        <button class="button is-success" type="submit">Restaurar</button>
                        <a href="{{ url_for('rol.listar') }}" class="button">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
