{% extends 'base.html' %}

{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">Editar ingrediente</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="notification is-success">
            <button class="delete"></button>
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}

    {% if error %}
    <div class="notification is-danger">
        <button class="delete"></button>
        {{ error }}
    </div>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
      <div class="field">
        <label class="label">Nombre</label>
        <div class="control">
          <input class="input" type="text" name="nombre" value="{{ ingrediente.nombre }}" minlength="3" maxlength="50">
        </div>
      </div>
      <div class="field">
        <label class="label">Precio por ingrediente extra</label>
        <div class="control">
          <p class="control has-icons-left has-icons-right">
          <input class="input" type="number" name="precio" value="{{ ingrediente.precio }}" max="99999">
          <span class="icon is-small is-left">
            <i class="fas fa-dollar-sign"></i>
          </span>
          </p>
        </div>
      </div>
      <div class="field">
        <label class="label">Cantidad</label>
        <div class="control">
          <div class="input-select-wrapper">
            <input class="input" type="number" name="cantidad" value="{{ ingrediente.cantidad }}" max="2147483646">
            <div class="select-wrapper">
              <div class="select">
                <select name="unidadmedida_id" class="unidadmedida-select">
                  {% for unidadmedida in unidadmedida %}
                  {% if unidadmedida.id == ingrediente.unidadmedida_id %}
                    <option value="{{ unidadmedida.id }}" selected>{{ unidadmedida.nombre }}</option>
                  {% else %}
                    <option value="{{ unidadmedida.id }}">{{ unidadmedida.nombre }}</option>
                  {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Alerta de stock</label><p class="help">Aquí debes asignar un valor para que te notifique alerta de stock del ingrediente en la unidad de medida elegida anteriormente. Por ejemplo: si se eligió gr, se asigna la alerta en gr.</p>
        <div class="control">
          <div class="input-select-wrapper">
            <input class="input" type="number" name="alerta_stock" value="{{ ingrediente.alerta_stock }}" min="0" max="99999" required>
            <div class="select-wrapper">
              <div class="select">
                <select name="unidadmedida_id" class="unidadmedida-select">
                  {% for unidadmedida in unidadmedida %}
                  {% if unidadmedida.id == ingrediente.unidadmedida_id %}
                    <option value="{{ unidadmedida.id }}" selected>{{ unidadmedida.nombre }}</option>
                  {% else %}
                    <option value="{{ unidadmedida.id }}">{{ unidadmedida.nombre }}</option>
                  {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Porción de ingrediente extra para pizza mediana</label><p class="help">Aquí debes asignar la porción del ingrediente en la unidad de medida elegida anteriormente. Por ejemplo: si se eligió gr, se asigna la porción en gr.</p>
        <div class="control">
          <div class="input-select-wrapper">
            <input class="input" type="number" name="extra_mediana" value="{{ ingrediente.extra_mediana }}" min="0" max="99999" required>
            <div class="select-wrapper">
              <div class="select">
                <select name="unidadmedida_id" class="unidadmedida-select">
                  {% for unidadmedida in unidadmedida %}
                  {% if unidadmedida.id == ingrediente.unidadmedida_id %}
                    <option value="{{ unidadmedida.id }}" selected>{{ unidadmedida.nombre }}</option>
                  {% else %}
                    <option value="{{ unidadmedida.id }}">{{ unidadmedida.nombre }}</option>
                  {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Porción de ingrediente extra para pizza familiar</label><p class="help">Aquí debes asignar la porción del ingrediente en la unidad de medida elegida anteriormente. Por ejemplo: si se eligió gr, se asigna la porción en gr.</p>
        <div class="control">
          <div class="input-select-wrapper">
            <input class="input" type="number" name="extra_familiar" value="{{ ingrediente.extra_familiar }}" min="0" max="99999" required>
            <div class="select-wrapper">
              <div class="select">
                <select name="unidadmedida_id" class="unidadmedida-select">
                  {% for unidadmedida in unidadmedida %}
                  {% if unidadmedida.id == ingrediente.unidadmedida_id %}
                    <option value="{{ unidadmedida.id }}" selected>{{ unidadmedida.nombre }}</option>
                  {% else %}
                    <option value="{{ unidadmedida.id }}">{{ unidadmedida.nombre }}</option>
                  {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button type="submit" class="button is-link">Guardar</button>
        </div>
        <div class="control">
          <a href="{{ url_for('ingrediente.listar') }}" class="button is-link is-light">Cancelar</a>
        </div>
      </div>
    </form>
  </div>
</section>
<script>
  $(document).ready(function() {
    // Capturar el evento de cambio en los select con la clase "unidadmedida-select"
    $('.unidadmedida-select').change(function() {
      var selectedOption = $(this).val(); // Obtener el valor seleccionado

      // Establecer el mismo valor en los otros select
      $('.unidadmedida-select').not(this).val(selectedOption);
    });
  });
</script>
{% endblock %}
