{% extends 'base.html' %}

{% block content %}
<section class="section">
  <div class="container">
    <h1 class="title">Agregar ingrediente</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <div class="notification is-success">
            <button class="delete"></button>
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <form method="POST" action="{{ url_for('ingrediente.nuevo') }}" enctype="multipart/form-data">
      <div class="field">
        <label class="label">Nombre</label>
        <div class="control">
          <input class="input" type="text" name="nombre" minlength="3" maxlength="50" required>
        </div>
      </div>
      <div class="field">
        <label class="label">Precio</label>
        <div class="control">
          <p class="control has-icons-left has-icons-right">
            <input class="input" type="text" name="precio" value="1000" max="99999" required>
            <span class="icon is-small is-left">
              <i class="fas fa-dollar-sign"></i>
            </span>
          </p>
        </div>
      </div>
      <div class="field">
        <label class="label">Cantidad</label><p class="help">Si no encuentras la unidad de medida que buscas, ¡puedes crearla <a href="/unidadmedidas">aqui</a>!</p>
        <div class="control">
          <div class="input-select-wrapper">
            <input class="input" type="number" name="cantidad" max="2147483646">
            <div class="select-wrapper">
              <div class="select">
                <select name="unidadmedida_id" class="unidadmedida-select">
                  {% for unidadmedida in unidadmedida %}
                  <option value="{{ unidadmedida.id }}">{{ unidadmedida.nombre }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Alerta de stock</label><p class="help">Aquí debes asignar un valor para que te notifique alerta de stock del ingrediente en la unidad de medida elegida anteriormente. Por ejemplo: si se eligió gr, se asigna la alerta en gr.</p>
        <div class="control">
          <div class="input-select-wrapper">
            <input class="input" type="number" name="alerta_stock" value="1" min="0" max="99999" required>
            <div class="select-wrapper">
              <div class="select">
                <select name="unidadmedida_id" class="unidadmedida-select">
                  {% for unidadmedida in unidadmedida %}
                  <option value="{{ unidadmedida.id }}">{{ unidadmedida.nombre }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Porción de ingrediente extra para pizza mediana</label><p class="help">Aquí debes asignar la porción del ingrediente en la unidad de medida elegida anteriormente. Por ejemplo: si se eligió gr, se asigna la porción en gr.</p>
        <div class="control">
          <div class="input-select-wrapper">
            <input class="input" type="number" name="extra_mediana" value="1" min="0" max="99999" required>
            <div class="select-wrapper">
              <div class="select">
                <select name="unidadmedida_id" class="unidadmedida-select">
                  {% for unidadmedida in unidadmedida %}
                  <option value="{{ unidadmedida.id }}">{{ unidadmedida.nombre }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Porción de ingrediente extra para pizza familiar</label><p class="help">Aquí debes asignar la porción del ingrediente en la unidad de medida elegida anteriormente. Por ejemplo: si se eligió gr, se asigna la porción en gr.</p>
        <div class="control">
          <div class="input-select-wrapper">
            <input class="input" type="number" name="extra_familiar" value="1" min="0" max="99999" required>
            <div class="select-wrapper">
              <div class="select">
                <select name="unidadmedida_id" class="unidadmedida-select">
                  {% for unidadmedida in unidadmedida %}
                  <option value="{{ unidadmedida.id }}">{{ unidadmedida.nombre }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button type="submit" class="button is-link">Guardar</button>
        </div>
        <div class="control">
          <a href="{{ url_for('ingrediente.listar') }}" class="button is-link is-light">Cancelar</a>
        </div>
      </div>
    </form>
  </div>
</section>
<script>
  $(document).ready(function() {
    // Capturar el evento de cambio en los select con la clase "unidadmedida-select"
    $('.unidadmedida-select').change(function() {
      var selectedOption = $(this).val(); // Obtener el valor seleccionado

      // Establecer el mismo valor en los otros select
      $('.unidadmedida-select').not(this).val(selectedOption);
    });
  });
</script>
{% endblock %}
