{% extends "base.html" %}
{% block title %}Papelera{% endblock %}
{% block content %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="column">
          <div class="buttons is-pulled-right">
            <a href="{{ url_for('categoria.listar') }}" class="button is-link is-light">Volver</a>
          </div>
        </div>
        {% if categorias %}
        <div class="columns">
          <div class="column">
            <h1 class="title">Lista de categorias en la papelera</h1>
          </div>
        </div>
        <table class="table is-bordered is-hoverable">
          <thead>
            <tr>
              <th>Nombre</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for categoria in categorias %}
                <tr>
                  <td>{{ categoria.nombre }}</td>
                  <td>
                    <a href="{{ url_for('categoria.restaurar', id=categoria.id) }}" class="button is-link is-light is-small">
                      <i class="fa fa-undo" aria-hidden="true"></i>
                    </a>
                  </td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <h1 class="title is-1">Lista de categorias en la papelera</h1>
					<div class="box">
						<div class="notification is-warning">
							<h1 class="subtitle is-2">No hay Categorías</h2>
							<p>No hay categorias en la papelera.</p>
						</div>
					</div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
