{% extends "header.html" %}

{% block title %}Inicio de sesión{% endblock %}

{% block content %}
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered">Inicio de sesión</h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <form action="{{ url_for('login') }}" method="POST">
      <div class="field">
        <div class="control">
			<label class="label">Nombre de usuario</label>
        <input class="input" type="text" name="nombre_usuario">
        </div>
      </div>
      <div class="field">
        <label class="label">Contraseña</label>
        <div class="control">
          <input class="input" type="password" name="contrasena" required>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-primary" type="submit">Iniciar sesión</button>
        </div>
      </div>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for message in messages %}
          <div class="notification is-success">
              <button class="delete"></button>
              {{ message }}
          </div>
          {% endfor %}
      {% endif %}
      {% endwith %}
    </form>
  </div>
</section>
{% endblock %}
