<header>
<nav class="navbar navbar-pink" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ url_for('index') }}">
            <h2 style="color: #ccc;">{{ appName() }}</h2>
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        </a>
    </div>
        <div class="navbar-end">
            <p class="navbar-item">{{ session.user_nombre }}</p>
            <a class="navbar-item" href="{{ url_for('sesion.logout') }}">Cerrar sesión</a>
        </div>
    </div>
</nav>
</header>
{% block content %}{% endblock %}