<head>
    <meta charset="UTF-8">
    <title>{{ appName() }} - Sistema de control de inventario y venta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cdnjs.cloudflare.com_ajax_libs_bulma_0.9.3_css_bulma.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="{{ url_for('static', filename='js/code.jquery.com_jquery-3.6.0.min.js') }}"></script>
    <script defer src="{{ url_for('static', filename='js/use.fontawesome.com_releases_v5.15.3_js_all.js') }}"></script>
</head>
{% block content %}{% endblock %}