{% extends "base.html" %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="notification is-success">
                        <button class="delete"></button>
                        {{ message }}
                    </div>
                    {% endfor %}
                {% endif %}
                {% endwith %}
                <h1 class="title">Bienvenido a la Pizzería Fratelli</h1>
                <p>En esta plataforma podrás gestionar el inventario y ventas en la pizzería. Selecciona una de las opciones del costado para comenzar</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}