{% extends "base.html" %}

{% block title %}Inicio de sesión{% endblock %}

{% block content %}
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered">Inicio de sesión</h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="notification is-danger">
          <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endwith %}
    
    <form action="{{ url_for('login') }}" method="POST">
      <div class="field">
        <div class="control">
			<label class="label">Nombre de usuario</label>
        <input class="input" type="text" name="username">
        </div>
      </div>
      <div class="field">
        <label class="label">Contraseña</label>
        <div class="control">
          <input class="input" type="password" name="password" required>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-primary" type="submit">Iniciar sesión</button>
        </div>
      </div>
    </form>
    <p class="has-text-centered">¿No tienes una cuenta? <a href="{{ url_for('register') }}">Regístrate aquí</a></p>
  </div>
</section>
{% endblock %}