{% extends "base.html" %}

{% block title %}Chats{% endblock %}

{% block content %}

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <div class="column">
          <h1 class="title">Notificaciones</h1>
          {% if pedidos %}
          {% include 'messages.html' %}
          {% for pedido in pedidos %}
          <div class="box">
              <table class="table is-striped is-hoverable is-fullwidth">
                <thead>
                  <tr>
                    <th colspan="2">Información del pedido</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>ID del pedido</td>
                    <td>{{ pedido.id }}</td>
                  </tr>
                  <tr>
                    <td>Tipo de pedido</td>
                    <td>
                      {% if not pedido.delivery %}
                        Retiro en local
                      {% else %}
                        Delivery
                      {% endif %}
                    </td>
                  </tr>
                  <tr>
                    <td>Nombre del cliente</td>
                    <td>{{ pedido.nombre_cliente }}</td>
                  </tr>
                  <tr>
                    <td>Hora de creación</td>
                    <td><i class="fas fa-clock"></i> {{ arrow.get(pedido.fecha_creacion).format('HH:mm:ss') if pedido.fecha_creacion else None }}</td>
                  </tr>
                </tbody>
              </table>
              <div class="table-container">
                <table class="table is-striped is-hoverable is-fullwidth">
                  <thead>
                    <tr>
                      <th>Detalle del pedido</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        {% if pedido.detalles %}
                        <table class="table is-striped is-hoverable">
                          <tbody>
                            {% for detalle_pedido in pedido.detalles %}
                              <tr>
                                  <td><img src="{{ url_for('static', filename='img/') }}{{ detalle_pedido.producto.imagen }}" alt=" " style="max-height: 30px;"></td>
                                  <td>{{ loop.index }}. {{ detalle_pedido.producto.nombre }} ({{ detalle_pedido.producto.categoria.nombre }})</td>
                                  <td>
                                      {% if detalle_pedido.producto.tiene_receta == False %}
                                          {{ detalle_pedido.cantidad }} unidad(es)<br>
                                      {% endif %}
                                      {% if detalle_pedido.producto.tiene_receta == True %}
                                            {% if detalle_ingredientes_producto %}
                                              <div class="table-container">
                                                <table class="table is-striped is-hoverable">
                                                    <thead>
                                                        <tr>
                                                            <th>Ingrediente extra</th>
                                                            <th>Cantidad</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for detalle_ingredientes in detalle_ingredientes_producto %}
                                                            <tr>
                                                                <td>{{ loop.index }}. {{ detalle_ingredientes.ingrediente.nombre }}</td>
                                                                <td>{{ detalle_ingredientes.cantidad }} {{ detalle_ingredientes.ingrediente.unidadmedida.nombre }}</td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                              </div>
                                            {% else %}
                                                <p>Sin ingredientes extras</p>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                          </table>
                          {% else %}
                          <p>No se han añadido productos al pedido.</p>
                          {% endif %}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <form action="{{ url_for('pedido.finalizar', id=pedido.id) }}" method="POST">
                  <input type="hidden" name="pagina" value="notificaciones">
                  <button type="submit" class="button is-fullwidth is-info is-success is-light">
                    <span class="icon is-small"><i class="fas fa-check" aria-hidden="true"></i></span>
                  </button>
                </form>
                <form action="{{ url_for('pedido.anular', id=pedido.id) }}" method="POST">
                  <input type="hidden" name="pagina" value="notificaciones">
                  <button type="submit" class="button is-fullwidth is-danger is-light">
                    <span class="icon is-small"><i class="fas fa-times" aria-hidden="true"></i></span>
                  </button>
                </form>
              </div>
            {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  // Función para recargar la página cada 10 segundos
  function reloadPage() {
    setTimeout(function () {
      location.reload();
    }, 10000);
  }
  document.addEventListener('DOMContentLoaded', function () {
    reloadPage();
  });
</script>
{% endblock %}
